<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/degrees.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="columns is-multiline">

          <div class="column is-full"> 
            <div class="notification">
              <p><strong>Degree Management:</strong></p>
              <ul style="margin-top: 0.5rem">
                <li>
                  Use the the add new Degree Program button to access the form to add Degrees.
                </li>
                <li>
                  Use the view details button to manage Degree modules details.
                </li>
                <li>
                  Use the delete Degree Program button to Delete Degree.
                </li>
              </ul>
            </div>
          </div>

          <div class="column is-half">
            <div class="control">
              <input
                id="DegreeSearch"
                style="vertical-align: middle"
                class="input"
                type="text"
                placeholder="Search by Progamme code or name"
              />
            </div>
          </div>
          <div class="column is-half">
            <a
              href="#"
              onclick="showNewProgramForm(event)"
              style="vertical-align: middle"
              class="button is-primary is-pulled-right"
            >
              Add New Degree Program
            </a>
          </div>
        </div>

        <!-- Hidden New Module Form -->
        <div class="column is-full is-flex is-justify-content-center">
          <div
            id="newProgramForm"
            class="box"
            style="display: none; margin-top: 1rem"
          >
            <form action="/admin/degree-programs/new-degree" method="POST">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Program Code</th>
                    <th>Program Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="programCode"
                        required
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="programName"
                        required
                      />
                    </td>
                    <td>
                      <button id="add-program-btn" class="button is-success">
                        Add Degree Program
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

        <div class="column is-full is-flex is-justify-content-center is-align-items-center">
          <div class="scroll-table-container ">
            <table class="table is-fullwidth is-hoverable sticky-header">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Program Code</th>
                  <th>Program Name</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% let count = 0; %> <% degrees.forEach((degree) => { count++;%>
                <tr>
                  <td><%= count %></td>
                  <td><%= degree.program_code %></td>
                  <td><%= degree.name %></td>
                  <td>
                    <a
                      href="/admin/degree-details/<%= degree.program_id %>"
                      class="button is-primary"
                      >View details</a
                    >
                  </td>
                  <td><button
                    type="button"
                    class="delete-program-btn button is-danger"
                    data-program_id="<%= degree.program_id %>"
                  >
                    Delete Degree Program
                  </button></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/degree-search.js"></script>
    <script src="/js/edit-degree-programs.js"></script>
  </body>
</html>
