<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/degrees.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="columns is-multiline">
          <div class="column is-full"> 
            <div class="notification">
              <p><strong>Degree Program Management:</strong></p>
              <ul style="margin-top: 0.5rem">
                <li>
                  Here you can and remove modules from the selected degree program.
                </li>
                <li>
                  Use the the add module program button to access the form to add modules and their details.
                </li>
                <br />
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="control">
              <input
                id="DegreeSearch"
                style="vertical-align: middle"
                class="input"
                type="text"
                placeholder="Search by Progamme code or name"
              />
            </div>
          </div>
          <div class="column">
            <button
              id="reveal-add-module-form-btn"
              type="button"
              class="button is-primary is-pulled-right"
            >
              Add a module to the program
            </button>
          </div>
        </div>

        <% console.log(program_id); %>

        <div
          class="columns is-mobile is-multiline is-full is-flex is-justify-content-center is-align-items-center"
        >
          <form
            id="add-module-form"
            method="POST"
            action="/admin/degree-details/add-degree-module/<%= program_id %>"
            class="is-hidden is-fullwidth"
          >
            <div class="columns is-mobile is-multiline">
              <div class="column is-half">
                <input
                  class="input is-medium"
                  type="text"
                  name="new_module_name"
                  placeholder="Enter module name"
                  required
                />
                <div class="select is-medium is-fullwidth">
                  <select name="new_module_level" required>
                    <option value="" disabled selected>
                      Select module level
                    </option>
                    <option value="L1">L1</option>
                    <option value="L2">L2</option>
                    <option value="L3">L3</option>
                  </select>
                </div>
                <button
                  id="add-module-btn"
                  class="button is-success is-medium is-fullwidth"
                  type="submit"
                >
                  Add Module
                </button>
              </div>
              <div class="column is-half">
                <div class="select is-medium is-fullwidth">
                  <select name="new_module_semester" required>
                    <option value="" disabled selected>
                      Select module semester
                    </option>
                    <option value="AUT">Autumn (AUT)</option>
                    <option value="SPR">Spring (SPR)</option>
                    <option value="SUM">Summer (SUM)</option>
                    <option value="FYR">Full Year (FYR)</option>
                  </select>
                </div>

                <div class="select is-medium is-fullwidth">
                  <select name="new_module_core" required>
                    <option value="" disabled selected>Is core module?</option>
                    <option value="1">Yes (Core)</option>
                    <option value="0">No (Not core)</option>
                  </select>
                </div>
                <button
                  id="cancel-modules-btn"
                  class="button is-light is-medium is-fullwidth"
                  type="button"
                >
                  Cancel add module
                </button>
              </div>
            </div>
          </form>
        </div>

        <div
          class="column is-full is-flex is-justify-content-center is-align-items-center"
        >
          <div class="scroll-table-container">
            <table class="sticky-header">
              <thead>
                <tr>
                  <th>#</th>
                  <th>subject Code</th>
                  <th>subject catalog</th>
                  <th>Module title</th>
                  <th>Semester</th>
                  <th>Level</th>
                  <th>Core module</th>
                  <th>credit value</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% let count = 0; %> <% program_modules.forEach((module) => {
                count++; %>
                <tr>
                  <td><%= count %></td>
                  <td><%= module.subject_code %></td>
                  <td><%= module.subject_catalog %></td>
                  <td><%= module.module_title %></td>
                  <td><%= module.semester %></td>
                  <td><%= String(module.subject_catalog).substring(0,1) %></td>
                  <td>
                    <% if (module.is_core === 1) { %> Yes <% } else if
                    (module.is_core === 0) { %> No <% } %>
                  </td>
                  <td><%= module.credit_value %></td>
                  <td>
                    <button
                      type="button"
                      class="delete-program-module-btn button is-danger"
                      data-program_module_id="<%= module.program_module_id %>"
                    >
                      Delete Module
                    </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/degree-search.js"></script>
    <script src="/js/edit-degree-program-details.js"></script>
  </body>
</html>
