<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/messaging.css" />
  </head>

  <body class="container-main">
    <div class="container mTop custom-wide-container">
       <%#  Navigation header partial  %>
       <%- include('../partials/header.ejs') %>
       <%# Header banner partical for each page with page specific information %>
       <%- include('../partials/dashboard-pages-welcome.ejs') %>

      <!-- main body of messaging hub -->
      <div
        class="has-background-white p-6 mtopclear mybk3 rounded-box"
        style="margin-bottom: 2rem !important"
      >
        <div class="columns is-multiline">
          <div class="column is-half">
            <a href="#" class="button is-primary is-medium" id="send-new-message">Send New Message</a>
          </div>
          <div class="column is-half">
            <a href="#" class="button is-primary is-medium" id="send-new-notification"
              >Create New Notification</a
            >
          </div>

          <div class="column is-one-third">
            <nav class="panel panel-fixed-height">
              <!-- messaging panel title -->
              <p class="panel-heading">Messages and Notifications</p>

              <div class="panel-block">
                <!-- search bar  -->
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="Search" />
                  <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
              <!-- tabs on panel -->
              <p class="panel-tabs">
                <a class="is-active" href="#" id="messages-tab">Messages</a>
                <a href="#" id="notifications-tab">Notifications</a>
              </p>

              <!-- panel content -->
               <!-- shows all the conversations sent to admins  -->
              <div class="scrollable-panel-blocks" id="messages-section">
                <% Object.keys(allConversations).forEach(function(conversation_id) { %>
                  <% const firstMessage = allConversations[conversation_id][0]; %>
                  <a href="#" class="panel-block" data-conversation-id="<%= conversation_id %>">
                    <div
                      class="is-flex is-justify-content-space-between is-align-items-center"
                      style="width: 100%"
                    >
                      <span class="has-text-left">
                        <%= String(firstMessage.subject).substring(0, 20) %>...
                      </span>
                      <small class="has-text-right">
                        <%= new Date(firstMessage.timestamp).toLocaleString("en-GB", {
                          dateStyle: "short", timeStyle: "short"
                        }) %>
                      </small>
                    </div>
                  </a>
                <% }) %>
              </div>

               <!-- notification window - shows all the notifcation sent  -->
              <div class="scrollable-panel-blocks" id="notifications-section" style="display: none;">
                <% console.log("all notifications ", allNotifications); %>
                <% allNotifications.forEach((notification) => { %>
                  <a href="#" class="panel-block" data-notification-id="<%= notification.notification_id %>">
                    <div
                      class="is-flex is-justify-content-space-between is-align-items-center"
                      style="width: 100%"
                    >
                      <span class="has-text-left">
                        <%= String(notification.subject).substring(0, 20) %>...
                      </span>
                      <small class="has-text-right">
                        <%= new Date(notification.timestamp).toLocaleString("en-GB", {
                          dateStyle: "short", timeStyle: "short"
                        }) %>
                      </small>
                    </div>
                  </a>

               <% }) %>
                
              </div>

              <div class="panel-block">
                
              </div>
            </nav>
          </div>

          <div class="column is-two-thirds">
            <div class="box">
              <div class="conversationToggle" style="display: none">
                <div id="message-thread"></div>
              </div>

              <div class="notificationToggle" style="display: none">
                <div id="notification-thread"></div>
              </div>

              <div class="newMessageToggle" style="display: none">
                <div id="new-message-thread"></div>
              </div>

              <div class="newNotificationToggle" style="display: none">
                <div id="new-notification-thread"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.allConversations = <%- JSON.stringify(allConversations) %>;
      window.allNotifications = <%- JSON.stringify(allNotifications) %>;

        document.querySelector("#submit-new-message").addEventListener("click", submitNewMessage);
      
    </script>
    <script src="/js/message-notifications-logic.js" ></script>
  </body>
</html>
