<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/degrees.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="columns is-multiline">

          <div class="column is-full"> 
            <div class="notification">
              <p><strong>Module Management:</strong></p>
              <ul style="margin-top: 0.5rem">
                <li>
                  Use the the add new Module button to access the form to add Modules and details.
                </li>
                <li>
                  Use the delete Module button to delete module.
                </li>
              </ul>
            </div>
          </div>

          <!-- Search Input -->
          <div class="column is-half">
            <input
              id="ModuleSearch"
              class="input"
              type="text"
              placeholder="Search by Programme code or name"
            />
          </div>

          <!-- Add Module Button -->
          <div class="column is-half">
            <a
              href="#"
              onclick="showNewModuleForm(event)"
              class="button is-primary is-pulled-right"
            >
              Add New Module
            </a>
          </div>

          <!-- Hidden New Module Form -->
          <div class="column is-full is-flex is-justify-content-center">
            <div
              id="newModuleForm"
              class="box"
              style="display: none; margin-top: 1rem"
            >
              <form action="/admin/modules/add-module" method="POST">
                <table class="table is-fullwidth">
                  <thead>
                    <tr>
                      <th>Subject Code</th>
                      <th>Subject Catalog</th>
                      <th>Module Title</th>
                      <th>Credits</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input
                          class="input"
                          type="text"
                          name="subjectCode"
                          required
                        />
                      </td>
                      <td>
                        <input
                          class="input"
                          type="text"
                          name="subjectCatalog"
                          required
                        />
                      </td>
                      <td>
                        <input
                          class="input"
                          type="text"
                          name="moduleTitle"
                          required
                        />
                      </td>
                      <td>
                        <input
                          class="input"
                          type="number"
                          name="credits"
                          required
                        />
                      </td>
                      <td>
                        <button id="add-module-btn" class="button is-success">
                          Add Module
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>

          <!-- Modules Table -->
          <div class="column is-full">
            <div class="scroll-table-container">
              <table class="table is-fullwidth is-hoverable sticky-header">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Subject Code</th>
                    <th>Subject Catalog</th>
                    <th>Module Title</th>
                    <th>Credit Value</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% let count = 0; %> <% modules.forEach((module) => { count++; %>
                  <tr>
                    <td><%= count %></td>
                    <td><%= module.subject_code %></td>
                    <td><%= module.subject_catalog %></td>
                    <td><%= module.module_title %></td>
                    <td><%= module.credit_value %></td>
                    <td><button
                      type="button"
                      class="delete-module-btn button is-danger"
                      data-module-id="<%= module.module_id %>"
                    >
                      Delete Module
                    </button></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/module-search.js"></script>
    <script src="/js/edit-module-details.js"></script>
  </body>
</html>
