<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Management</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/students.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <!-- <h2 class="title" style="padding-bottom: 1rem"><span></span>Students</h2> -->

        <div class="columns">
          <div class="column">
            <div class="control">
              <input
                id="studentSearch"
                style="vertical-align: middle"
                class="input"
                type="text"
                placeholder="Search by ID, name, degree..."
              />
            </div>
          </div>
          <div class="column">
            <a
              href="/admin/student/new"
              style="vertical-align: middle"
              class="button is-primary is-pulled-right"
            >
              Add New Student
            </a>
          </div>
        </div>

        <div class="column">
          <div class="scroll-table-container">
            <table class="sticky-header">
              <thead>
                <tr>
                  <th
                    style="
                      width: 5rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >

                  </th>
                  <th
                    style="
                      width: 12rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Student ID
                  </th>
                  <th
                    style="
                      width: 10rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    First Name
                  </th>
                  <th
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Last Name
                  </th>
                  <th
                    style="
                      width: 15rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Degree Progamme
                  </th>
                  <th
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Year of Study
                  </th>
                  <th
                    style="
                      width: 5rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Study Status
                  </th>
                  <th></th>
                </tr> 
              </thead>
              <tbody>
                <% let count = 0; %>
                <% students.forEach((student) => { %>
                  
                <tr>
                  <% count++; %>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= count %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.sId %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.first_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.last_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.program_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    Not yet implimented
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.status_study %>
                  </td>
                  <td>
                    <a
                      href="/admin/student/<%= student.sId %>"
                      class="button is-primary"
                      >View details</a
                    >
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/students-search.js"></script>
  </body>
</html>
