<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/students.css" />
  </head>

  <body class="container-main">
    <div class="container mTop" style="width: 90%">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="columns is-mobile">
          <div class="column has-text-left">
            <a href="" class="button is-light is-medium"
              >Produce Student Summary Report</a
            >
          </div>
          <div class="column"></div>

          <div class="column has-text-right">
            <input type="hidden" id="student-sId" value="<%= student.sId %>">
            <button type="button" id="delete-student-btn" class="button is-danger is-medium">Delete Student</button>
          </div>
        </div>

        <hr />
        <div class="columns is-mobile">
          <div
            class="column is-half is-flex is-justify-content-center is-align-items-center"
          >
            <figure class="image has-text-centered">
              <img
                class="is-rounded"
                style="width: 20rem; height: auto; border: 3px solid #ccc"
                src="/images/siluete-lock-person.png"
                alt="Placeholder image"
              />
              <figcaption class="mt-2">Student Profile Image</figcaption>
            </figure>
          </div>
          <div class="column is-narrow">
            <div style="border-left: 2px solid #ccc; height: 100%"></div>
          </div>

          <!-- table with students details -->
          <div class="box">
            <form
              id="student-details-form"
              method="POST"
              action="/admin/update-student/<%= student.sId %>"
            >
              <div class="columns">
                <div
                  class="column is-half has-text-weight-bold is-flex"
                  style="width: 15rem"
                >
                  Student First Name:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="first_name"
                    value="<%= student.first_name %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-half has-text-weight-bold is-flex"
                  style="width: 15rem"
                >
                  Student Last Name:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="last_name"
                    value="<%= student.last_name %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Student Number:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="sId"
                    value="<%= student.sId %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Email:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="email"
                    name="email"
                    value="<%= user_data.email %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Secondary Email:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="email"
                    name="secondary_email"
                    value="<%= user_data.secondary_email || null %>"
                    placeholder="No email saved"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Degree Programme:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="degree"
                    value="<%= student.program_name %>"
                    disabled
                    readonly
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Study Status:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="status_study"
                    value="<%= student.status_study %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Entry level:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="entry_level"
                    value="<%= student.entry_level %>"
                    disabled
                  />
                </div>
              </div>

              <div class="has-text-right mt-4">
                <button type="button" id="edit-btn" class="button is-primary">
                  Edit Details
                </button>
                <button
                  type="submit"
                  id="save-btn"
                  class="button is-success is-hidden"
                >
                  Save
                </button>
                <button
                  id="cancel-btn"
                  class="button is-light is-hidden"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>

        <hr />

        <h1 class="title">Progression Summary</h1>

        <div class="columns is-mobile">
          <div
            class="column is-half has-text-weight-bold is-flex is-justify-content-center is-align-items-center"
          >
            <div class="box">
              <table class="table is-striped is-fullwidth">
                <tbody>
                  <tr>
                    <th>Total Credits:</th>
                    <td><%= student.Total_credits_earned %></td>
                  </tr>
                  <tr>
                    <th>Average grade:</th>
                    <td><%= student.average_grade %></td>
                  </tr>
                  <tr>
                    <th>Progression Status:</th>
                    <td><%= student.progression_status %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="column is-half has-text-weight-bold is-flex is-justify-content-center is-align-items-center"
          >
            <div class="box">Put a pie chart here</div>
          </div>
        </div>

        <hr />

        <div class="column is-mobile ">
          <div class="column has-text-right is-full">
            <button id="edit-modules-btn" class="button is-medium is-primary">
              Edit Modules
            </button>

            <button id="save-modules-btn" class="button is-success is-medium is-hidden">
              Save Module Results
            </button>
            <button id="cancel-modules-btn" class="button is-light is-medium is-hidden">
              Cancel Module Edit
            </button>
          </div>
        </div>

        <div class="column">
          <div class="content">
            <form
              id="module-form"
              method="POST"
              action="/admin/student/update-student-modules/<%= student.sId %>"
            >
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Subject Code</th>
                    <th>Subject Catalog</th>
                    <th style="width: 10rem">Module Name</th>
                    <th>Grade</th>
                    <th>Grade Result</th>
                    <th>Resit Grade</th>
                    <th>Resit Result</th>
                    <th>Year of study</th>
                  </tr>
                </thead>
                <tbody>
                  <% module_data.forEach((module) => { %>
                  <tr>
                    <input type="hidden" name="user_module_ids[]" value="<%= module.user_module_id %>" />
                    <td><%= module.subject_code %></td>
                    <td><%= module.subject_catalog %></td>
                    <td><%= module.module_title %></td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="first_grades[]"
                        value="<%= module.first_grade || '' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="grade_results[]"
                        value="<%= module.grade_result || '' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="resit_grades[]"
                        value="<%= module.resit_grade || '' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="resit_results[]"
                        value="<%= module.resit_result || '' %>"
                        disabled
                      />
                    </td>
                    <td><%= module.academic_year %></td>
                  </tr>
                  <% }) %>
                </tbody>                
              </table>
            </form>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <script src="/js/edit-student-details.js"></script>
  </body>
</html>
