<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/students.css" />
  </head>

  <body class="container-main">
    <div class="container mTop" style="width: 90%">
      <%# Navigation header partial %> <%- include('../partials/header.ejs') %>
      <%# Header banner partical for each page with page specific information %>
      <%- include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="columns is-mobile">
          <%# button handles report generation for student %>
          <div class="column has-text-left">
            <button class="button is-primary is-medium" id="generateReport">
              Produce Student Summary Report
            </button>
          </div>
          <div class="column"></div>

          <div class="column has-text-right">
            <input type="hidden" id="student-sId" value="<%= student.sId %>" />
            <button
              type="button"
              id="delete-student-btn"
              class="button is-danger is-medium"
            >
              Delete Student
            </button>
          </div>
        </div>

        <hr />
        <div class="columns is-mobile">
          <div
            class="column is-half is-flex is-justify-content-center is-align-items-center"
          >
            <figure class="image has-text-centered">
              <img
                class="is-rounded"
                style="width: 20rem; height: auto; border: 3px solid #ccc"
                src="/images/siluete-lock-person.png"
                alt="Placeholder image"
              />
              <figcaption class="mt-2">Student Profile Image</figcaption>
            </figure>
          </div>
          <div class="column is-narrow">
            <div style="border-left: 2px solid #ccc; height: 100%"></div>
          </div>

          <!-- table with students details -->
          <div class="box">
            <form
              id="student-details-form"
              method="POST"
              action="/admin/update-student/<%= student.sId %>"
            >
              <div class="columns">
                <div
                  class="column is-half has-text-weight-bold is-flex"
                  style="width: 15rem"
                >
                  Student First Name:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="first_name"
                    value="<%= student.first_name %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-half has-text-weight-bold is-flex"
                  style="width: 15rem"
                >
                  Student Last Name:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="last_name"
                    value="<%= student.last_name %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Student Number:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="sId"
                    value="<%= student.sId %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Email:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="email"
                    name="email"
                    value="<%= userData.email %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Secondary Email:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="email"
                    name="secondary_email"
                    value="<%= userData.secondary_email || null %>"
                    placeholder="No email saved"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Degree Programme:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="degree"
                    value="<%= student.program_name %>"
                    disabled
                    readonly
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Study Status:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="status_study"
                    value="<%= student.status_study %>"
                    disabled
                  />
                </div>
              </div>

              <div class="columns">
                <div
                  class="column is-one-third has-text-weight-bold"
                  style="width: 15rem"
                >
                  Entry level:
                </div>
                <div class="column">
                  <input
                    class="input"
                    type="text"
                    name="entry_level"
                    value="<%= student.entry_level %>"
                    disabled
                  />
                </div>
              </div>

              <div class="has-text-right mt-4">
                <button type="button" id="edit-btn" class="button is-primary">
                  Edit Details
                </button>
                <button
                  type="submit"
                  id="save-btn"
                  class="button is-success is-hidden"
                >
                  Save
                </button>
                <button
                  id="cancel-btn"
                  class="button is-light is-hidden"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>

        <hr />

        <h1 class="title" style="padding-bottom: 2rem">Progression Summary</h1>

        <div class="columns is-mobile is-multiline">
          <div
            class="column is-half is-flex is-justify-content-center is-align-items-center"
          >
            <div class="box">
              <table class="table is-striped is-fullwidth">
                <tbody>
                  <tr>
                    <th>Total Credits:</th>
                    <% let totalCredits = 0; %> <%
                    studentRecord.creditsPassed.forEach((level) => { %> <%
                    totalCredits += level.credits_passed %> <% }) %>
                    <td><%= totalCredits %></td>
                  </tr>
                  <% studentRecord.creditsPassed.forEach((level) => { %>
                  <tr>
                    <th>Credits Earned - <%= level.module_level %>:</th>
                    <td><%= level.credits_passed %></td>
                  </tr>
                  <% }) %>
                  <tr>
                    <% studentRecord.averageMarkPerYear.forEach((level) => { %>
                  </tr>

                  <tr>
                    <th>Average Grade - <%= level.level %>:</th>
                    <td><%= parseFloat(level.avg_mark).toFixed(2)%></td>
                  </tr>
                  <% }) %>
                  <tr>
                    <th>Progression Status:</th>
                    <td>
                      <%= (studentProgression.outcome &&
                      studentProgression.outcome.length > 0) ?
                      studentProgression.outcome : 'No outcome available' %>
                    </td>
                  </tr>
                  <tr>
                    <th>Progression Details:</th>
                    <td>
                      <% if (studentProgression.reason &&
                      studentProgression.reason.length > 0) { %>
                      <ul style="list-style-type: disc; padding-left: 1.5rem">
                        <% studentProgression.reason.forEach((reason) => { %>
                        <li><%= reason %></li>
                        <% }) %>
                      </ul>
                      <% } else { %> No additional details available <% } %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="column is-half is-justify-content-center is-align-items-center"
          >
            <div class="box">
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Module Title</th>
                    <th>Attempts</th>
                    <th>Result</th>
                    <th>Resit Required</th>
                  </tr>
                </thead>
                <tbody>
                  <% studentRecord.modules.forEach((module) => { %>
                  <tr>
                    <td><%= module.module_code %></td>
                    <td>
                      <% const matchingAttempt =
                      studentRecord.moduleAttempts.find(attempt =>
                      attempt.module_id === module.module_id); if
                      (matchingAttempt) { %> <%= matchingAttempt.attempt_count
                      %>/4<% } else { %> 0/4 <% } %>
                    </td>
                    <td><%= module.result %> (<%= module.grade %>%)</td>
                    <td>
                      <% const matchingResit =
                      studentProgression.resits.includes(module.module_code); if
                      (matchingResit) { %> Yes <% } else { %> No <% } %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="column is-full has-text-weight-bold is-justify-content-center is-align-items-center"
          >
            <div class="box">
              <canvas id="studentProgressionChart"></canvas>
            </div>
          </div>
        </div>

        <hr />

        <div class="columns is-mobile">
          <div class="column has-text-right is-full">
            <button id="edit-modules-btn" class="button is-medium is-primary">
              Edit Modules
            </button>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column is-one-quarter">
            <button
              id="save-modules-btn"
              class="button is-success is-medium is-hidden is-fullwidth"
            >
              Save Module Results
            </button>
          </div>
          <div class="column is-one-quarter">
            <button
              id="cancel-modules-btn"
              class="button is-light is-medium is-hidden is-fullwidth"
            >
              Cancel Module Edit
            </button>
          </div>

          <div class="column is-one-quarter">
            <button
              id="add-module-btn"
              class="button is-success is-medium is-hidden is-fullwidth"
            >
              Add Module
            </button>
          </div>
          <div class="column is-one-quarter">
            <form
              id="add-module-form"
              method="POST"
              action="/admin/student/add-student-module/<%= student.sId %>"
              class="is-hidden is-fullwidth"
            >
              <input
                class="input is-medium"
                type="text"
                name="new_module_name"
                placeholder="Enter module name"
              />
            </form>
          </div>
        </div>

        <div class="column">
          <div class="content">
            <form
              id="module-form"
              method="POST"
              action="/admin/student/update-student-modules/<%= student.sId %>"
            >
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Subject Code</th>
                    <th>Subject Catalog</th>
                    <th style="width: 10rem">Module Name</th>
                    <th>Grade</th>
                    <th>Grade Result</th>
                    <th>Resit Grade</th>
                    <th>Resit Result</th>
                    <th>Year of study</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% moduleData.forEach((module) => { %>
                  <input
                    type="hidden"
                    id="user-module-id"
                    value="<%= module.user_module_id%>"
                  />
                  <tr>
                    <input
                      type="hidden"
                      name="user_module_ids[]"
                      value="<%= module.user_module_id %>"
                    />
                    <td><%= module.subject_code %></td>
                    <td><%= module.subject_catalog %></td>
                    <td><%= module.module_title %></td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="first_grades[]"
                        value="<%= module.first_grade === 0 ? 0 : (module.first_grade || 'N/A' ) %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="grade_results[]"
                        value="<%= module.grade_result || 'N/A' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="resit_grades[]"
                        value="<%= module.resit_grade === 0 ? 0 : (module.resit_grade || 'N/A' ) %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="resit_results[]"
                        value="<%= module.resit_result || 'N/A' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="input"
                        type="text"
                        name="academic_year[]"
                        value="<%= module.academic_year || 'N/A' %>"
                        disabled
                      />
                    </td>
                    <td>
                      <button
                        id="delete-student-module-btn"
                        type="button"
                        class="delete-student-module-btn button is-danger"
                      >
                        Delete Module
                      </button>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </form>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <%# editing logic for student details %>
    <script src="/js/edit-student-details-admin.js"></script>
    <%# handle report generation %>
    <script>
      document
        .getElementById("generateReport")
        .addEventListener("click", () => {
          const studentId = document.getElementById("student-sId").value;
          window.open(
            `/reports/generateReport/studentSummary/${studentId}`,
            "_blank"
          );
        });
    </script>
    <%# chart for student modules %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const moduleGrades = <%- JSON.stringify(studentRecord.modules) %>;
        const ctx = document.getElementById('studentProgressionChart').getContext('2d');

        const labels = moduleGrades.map(module => `Module ${module.module_code}`);
        const grades = moduleGrades.map(module => module.grade);
        const results = moduleGrades.map(module => module.result)

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: 'Module Grades',
              data: grades, results,
              backgroundColor: 'rgba(54, 162, 235, 0.6)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            mainAspectRatio: false,
            scales: {

              y: {
                beginAtZero: true,
                max: 100
              }
            },
            plugins: {
              title: {
                display: true,
                text: 'Student Module Grades'
              },
              tooltip: {
                callbacks: {
                  label: function(context) {
                    const module = moduleGrades[context.dataIndex];
                    const grade = context.parsed.y;
                    const result = module.result || 'N/A';


                    return [
                      `Grade: ${grade}`,
                      `Result: ${result}`,
                    ];

                  }
                }
              }
            }
          }
        });
      });
    </script>
  </body>
</html>
