<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    
</head>

<body class="container-main">
    <div class="container mTop">
        
        <%- include('../partials/header.ejs') %>
        
        <%- include('../partials/dashboard-pages-welcome.ejs') %>

                <div class="has-background-white p-6 mtopclear mybk3 rounded-box">

                        <h2 class="title " style="padding-top: 1rem;"> <span></span>Students</h2>

                        <div class="column">
                            <!-- Module table -->
                            <!-- <div class="has-background-white p-6 mtopclear mybk3"> -->
                            <div class="content">
                              <table class="table is-fullwidth">
                                <thead>
                                  <tr>
                                    <th>Student ID</th>
                                    <th>First Name</th>
                                    <th>Second Name</th>
                                    <th style = "width: 15rem"> Degree Progamme</th>
                                    <th>Year of Study</th>
                                    <th>Study Status</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% students.forEach((student) => { %>
                                  <tr>
                                    
                                    <td><%= course.subject_code %></td>
                                    <td><%= course.module_title %></td>
                                    <td>
                                      <% if (course.first_grade !== null && course.first_grade !==
                                      undefined) { %> <%= course.first_grade %> <% } else { %> N/A
                                      <% } %>
                                    </td>
                                    <td>
                                      <% if (course.grade_result !== null && course.grade_result
                                      !== undefined) { %> <%= course.grade_result %> <% } else {
                                      %> N/A <% } %>
                                    </td>
                                    <td>
                                      <% if (course.resit_grade !== null && course.resit_grade !==
                                      undefined) { %> <%= course.resit_grade %> <% } else { %> N/A
                                      <% } %>
                                    </td>
                                    <td>
                                      <% if (course.resit_result !== null && course.resit_result
                                      !== undefined) { %> <%= course.resit_result %> <% } else {
                                      %> N/A <% } %>
                                    </td>
                                    
                                    <button class="button is-primary">Edit details</button>
                                  </tr>
                                  <% }) %>
                                </tbody>
                              </table>
                            </div>
                            <!-- </div> -->
                          </div>


                </div>
    </div>
</body>
</html>