<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/students.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%#  Navigation header partial  %>
      <%- include('../partials/header.ejs') %>
      <%# Header banner partical for each page with page specific information %>
      <%- include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="main has-background-white p-6 mtopclear mybk3 rounded-box">
        <div class="column is-full"> 
          <div class="notification">
            <p><strong>Student Management:</strong></p>
            <ul style="margin-top: 0.5rem">
              <li>
                Use the the add new student button to access the form to add students.
              </li>
              <li>
                Use the view details button to manage Individual student details and see student stats.
              </li>
            </ul>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="control">
              <input
                id="studentSearch"
                style="vertical-align: middle"
                class="input"
                type="text"
                placeholder="Search by ID, name, degree..."
              />
            </div>
          </div>
          <%# new student button toggles the form on when clicked %>
          <div class="column">
            <button
              onclick="toggleNewStudentForm()"
              id="toggleNewStudentFormBtn"
              class="button is-primary is-pulled-right"
            >
              Add New Student
            </button>
          </div>
        </div>
        <%# new student form uses router to add new student on submit %>
        <div id="addNewStudentForm" style="display: none" class="box mt-4">
          <form method="POST" action="/admin/student/add">
            <div class="field">
              <label class="label">Student ID</label>
              <div class="control">
                <input class="input" type="text" name="sId" required />
              </div>
            </div>

            <div class="field">
              <label class="label">First Name</label>
              <div class="control">
                <input class="input" type="text" name="firstName" required />
              </div>
            </div>

            <div class="field">
              <label class="label">Last Name</label>
              <div class="control">
                <input class="input" type="text" name="lastName" required />
              </div>
            </div>

            <div class="field">
              <label class="label">Entry Level</label>
              <div class="control">
                <div class="select">
                  <select name="entryLevel" required>
                    <option value="L1">Level 1</option>
                    <option value="L2">Level 2</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Study Status</label>
              <div class="control">
                <div class="select">
                  <select name="statusStudy" required>
                    <option value="F">Full Time</option>
                    <option value="P">Part Time</option>
                  </select>
                </div>
              </div>
            </div>
            <%# button to submit the new students details %>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" type="submit">Submit</button>
              </div>
              <%# cancel button will close the form when pressed %>
              <div class="control">
                <button
                  type="button"
                  class="button is-light"
                  onclick="toggleNewStudentForm()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>

        <%# students table displays all students held in the database %>
        <div class="column">
          <div class="scroll-table-container">
            <table class="sticky-header">
              <thead>
                <tr>
                  <th
                    style="
                      width: 5rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  ></th>
                  <th
                    style="
                      width: 12rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Student ID
                  </th>
                  <th
                    style="
                      width: 10rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    First Name
                  </th>
                  <th
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Last Name
                  </th>
                  <th
                    style="
                      width: 15rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Degree Progamme
                  </th>
                  <th
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Entry Level
                  </th>
                  <th
                    style="
                      width: 5rem;
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                    "
                  >
                    Study Status
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%# each student is displayed on new row %>
                <% let count = 0; %> <% students.forEach((student) => { %>

                <tr>
                  <% count++; %>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= count %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.sId %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.first_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.last_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.program_name %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.entry_level %>
                  </td>
                  <td
                    style="
                      text-align: left;
                      vertical-align: middle;
                      padding: 0.75rem;
                      font-size: 0.95rem;
                    "
                  >
                    <%= student.status_study %>
                  </td>
                  <%# button to view the specific students details  %>
                  <td>
                    <a
                      href="/admin/student/<%= student.sId %>"
                      class="button is-primary"
                      >View details</a
                    >
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%# search script for student table %>
    <script src="/js/students-search.js"></script>
    <%# script to toggle new student form visability %>
    <script>
      function toggleNewStudentForm() {
        const form = document.getElementById("addNewStudentForm");
        const btn = document.getElementById("toggleFormBtn");

        if (form.style.display === "none") {
          form.style.display = "block";
          btn.textContent = "Hide Form";
        } else {
          form.style.display = "none";
          btn.textContent = "Add New Student";
        }
      }
    </script>
  </body>
</html>
