<head>
  <link rel="stylesheet" href="/css/dashboard-pages-welcome.css" />
</head>

<section class="hero is-info mb-5 rounded-box">
  <div class="hero-body">
    <!-- Student side -->
    <% if (user && user.role === 'student') { %>
    <p class="title">
      Welcome, <%= studentData.first_name %> <%= studentData.last_name %>
    </p>
    <p class="subtitle-studentId">Student ID: <%= studentData.sId %></p>

    <% if (title === 'Student Dashboard') { %>
    <p class="subtitle-page-title">
      Academic Progress Monitoring System Dashboard
    </p>
    <% } else if (title === 'Student Profile') { %>
    <p class="subtitle-page-title">Student Profile Overview</p>
    <p class="subtitle-page-title">Edit and your details.</p>
    <p class="subtitle-page-title">
      Download your individual student summary reports and view key individual
      performance statistics.
    </p>
    <% } else if (title === 'Progress') { %>
    <p class="subtitle-page-title">Student Progress Overview</p>
    <% } else if (title === 'modules') { %>
    <p class="subtitle-page-title">Student Courses Overview</p>
    <% } else if (title === 'Notifications') { %>
    <p class="subtitle-page-title">Student Notifications Overview</p>

    <!-- admin side -->
    <% } %> <% } else if (user && user.role === 'admin') { %> <% if (title ===
    'Admin Dashboard') { %>
    <p class="title">Welcome, Admin</p>
    <p class="subtitle-page-title">
      Welcome to the Academic Progress Monitoring Systems Dashboard
    </p>
    <p class="subtitle-page-title">
      Access core administrative tools to manage students, degree programs,
      modules, messaging, and reports.
    </p>
    <p class="subtitle-page-title">
      You can navigate to pages to manage students and courses from here
    </p>
    <% } else if (title === 'Student Management') { %>
    <p class="title">Student Management</p>
    <p class="subtitle-page-title">
      Search students, Add new students and view students details.
    </p>
    <p class="block">
      View all registered students, search for specific students, add new
      students, and manage individual student profiles.
    </p>
    <% } else if (title === 'Student Details') { %>
    <p class="title">
      Student Details For: <%= student.first_name %> <%= student.last_name %>
    </p>
    <p class="subtitle-page-title">
      Edit and maintain students details and module results.
    </p>
    <p class="subtitle-page-title">Delete student record completely.</p>
    <p class="subtitle-page-title">
      Produce student summary reports and view key individual performance
      statistics.
    </p>
    <% } else if (title === 'Degree Programs') { %>
    <p class="title">Manage Degree Programs</p>
    <p class="subtitle-page-title">
      Search Degree Programs, Add new Degree Programs and view degree program
      module details.
    </p>
    <% } else if (title === 'Degree Details') { %>
    <p class="title">Manage Modules For:</p>
    <p class="sub-title"><%= program_details.name %></p>
    <% } else if (title === 'Manage Modules') { %>
    <p class="title">Module Management</p>
    <p class="subtitle-page-title">
      Browse and manage the list of modules offered across different programs,
      including editing and deleting modules.
    </p>
    <% } else if (title === 'Reports') { %>
    <p class="title">Reports and Statistics</p>
    <p class="subtitle-page-title">
      Generate reports and statistics related to module enrollments,
      performance, and other academic data.
    </p>
    <% } else if (title === 'Messaging Hub') { %>
    <p class="title">Messaging Hub</p>
    <p class="subtitle-page-title">
      Send and recieve messages across the University including student
      communications and cohort notifcations.
    </p>
    <% } else if (title === 'Mass record management') { %>
    <p class="title">Mass Records Upload and Update</p>
    <p class="subtitle-page-title">
      Upload large sets of records at once to quickly update and module
      information in bulk.
    </p>
    <% } %> <% } %>
  </div>
</section>
