<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Profile</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <%- include('../partials/header.ejs') %>

      <%- include('../partials/dashboard-pages-welcome.ejs') %>

      <div class="columns is-variable is-6">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">Personal Information</p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul class="profile-information">
                  <li><strong>Name:</strong> <%= studentData[0].first_name %> <%= studentData[0].last_name %> </li>
                  <li><strong>Student Number:</strong> <%= studentData[0].sId %> </li>
                  <li><strong>Degree Programme:</strong> Not yet Implimented</li>
                  <li><strong>Email:</strong> <%= user.email %> </li>
                  <li><strong>Year of Study:</strong> Not yet Implimented</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">Progression Summary</p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul class="profile-information">
                  <li><strong>Total Credits Earned:</strong> Not yet Implimented</li>
                  <li><strong>Average Grade:</strong> Not yet Implimented</li>
                  <li><strong>Progression Status:</strong> Not yet Implimented</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
